*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: black;
}
h1{
    color: rebeccapurple;
    margin: 100px auto 0;
    width: 200px;
}
.container{
    width: 300px;
    max-height: 500px;
    margin: 20px auto;
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
}
.container p{
    font-weight: 300px;
    font-size: 20px;
}
.container input{
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.277);
    color: black;
    cursor: pointer;
}
.container button{
    margin-top: 10px;
    width: 100%;
    padding: 5px 0px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rebeccapurple;
    font-size: 16px;
    cursor: pointer;
}
.img{
    width: 200px;
    margin: 5px auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;

}
#qrImg{
    width: 100%;
    padding: 5px;
}
.showimg{
    border: 3px solid black;
    max-height: 300px;
}

.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform : translateX(0);
    }
    25%{
        transform : translateX(-2px);
    }
    50%{
        transform : translateX(0);
    }
    75%{
        transform : translateX(2px);
    }
    100%{
        transform : translateX(0);
    }
}